.mainContainer-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    /* Restrict the maximum width */
    min-width: 768px;
    /* Set the minimum width */
    min-height: 100vh;
    /* Take up the full viewport height */
    font-family: "Irish Grover", serif;
    background-color: #BC4749;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 20px;
}

.topContainer-create {
    margin-bottom: 50px;
    text-align: center;
}

.topContainer-create h1 {
    color: white;
    font-size: 48px;
}

.middleContainer-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    width: 90%;
}

.middleContainer-create input {
    width: 100%;
    max-width: 600px;
    height: 50px;
    font-size: 25px;
}

.middleContainer-create input::placeholder {
    font-family: "Irish Grover", serif;
    font-size: 20px;
    text-align: center;
}

.middleContainer-create button,
.bottomContainer-create button {
    font-family: "Irish Grover", serif;
    border-radius: 8px;
    box-shadow: 0 4px black;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 20px;
    max-width: 300px;
}

.bottomContainer-create {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

@media (max-width: 900px) {
    .mainContainer-create {
        padding: 10px;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #BC4749;
    }

    .topContainer-create {
        margin-bottom: 30px;
        text-align: center;
    }

    .topContainer-create h1 {
        font-size: 36px;
        color: white;
    }

    .middleContainer-create {
        width: 100%;
        gap: 30px;
        margin-bottom: 50px;
    }

    .middleContainer-create input {
        width: 90%;
        max-width: 500px;
        height: 40px;
        font-size: 18px;
    }

    .middleContainer-create input::placeholder {
        font-size: 16px;
        text-align: center;
    }

    .middleContainer-create button,
    .bottomContainer-create button {
        font-size: 20px;
        padding: 8px 16px;
        max-width: 250px;
        border-radius: 6px;
    }

    .bottomContainer-create {
        gap: 1.5rem;
    }
}

@media (max-width: 550px) {
    .mainContainer-create {
        padding: 8px;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #BC4749;
    }

    .topContainer-create {
        margin-bottom: 20px;
        text-align: center;
    }

    .topContainer-create h1 {
        font-size: 28px;
        color: white;
    }

    .middleContainer-create {
        width: 100%;
        gap: 20px;
        margin-bottom: 40px;
    }

    .middleContainer-create input {
        width: 40%;
        max-width: 400px;
        height: 35px;
        font-size: 16px;
    }

    .middleContainer-create input::placeholder {
        font-size: 14px;
        text-align: center;
    }

    .middleContainer-create button,
    .bottomContainer-create button {
        font-size: 16px;
        padding: 6px 12px;
        max-width: 200px;
        border-radius: 5px;
    }

    .bottomContainer-create {
        gap: 1rem;
    }
}

@media (max-width: 360px) {
    .mainContainer-create {
        padding: 5px;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #BC4749;
    }

    .topContainer-create {
        margin-bottom: 40px;
        text-align: center;
    }

    .topContainer-create h1 {
        font-size: 20px;
        color: white;
    }

    .middleContainer-create {
        width: 100%;
        gap: 40px;
        margin-bottom: 20px;
    }

    .middleContainer-create input {
        width: 23%;
        max-width: 250px;
        height: 40px;
        font-size: 12px;
        padding: 10px;
    }

    .middleContainer-create input::placeholder {
        font-size: 10px;
        text-align: center;
    }

    .middleContainer-create button,
    .bottomContainer-create button {
        font-size: 16px;
        padding: 10px 8px;
        max-width: 200px;
        border-radius: 4px;
    }

    .bottomContainer-create {
        gap: 1rem;
    }
}

/* @media (max-width: 360px) {
    .mainContainer-create {
        padding: 10px;
        max-width: 100%;
        min-width: auto;
        min-height: auto;
        text-align: center;
    }

    .topContainer-create h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .middleContainer-create {
        gap: 20px;
        margin-bottom: 50px;
    }

    .middleContainer-create input {
        max-width: 100%;

        height: 40px;

        font-size: 20px;

    }

    .middleContainer-create input::placeholder {
        font-size: 16px;
   
    }

    .middleContainer-create button,
    .bottomContainer-create button {
        max-width: 100%;
 
        font-size: 20px;

        padding: 8px 16px;

    }

    .bottomContainer-create {
        gap: 1.5rem;
     
    }
} */