.mainContainer-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
    min-height: 100vh;
    background-color: #BC4749;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 20px;
}

.topContainer-login {
    margin-bottom: 50px;
    text-align: center;
}

.topContainer-login h1 {
    color: black;
    font-size: 48px;
}

.middleContainer-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    width: 90%;
}

.middleContainer-login input {
    width: 100%;
    /* Adjust input width */
    max-width: 600px;
    /* Restrict input width */
    height: 50px;
    font-size: 25px;
}

.middleContainer-login input::placeholder {
    font-family: "Irish Grover", serif;
    color: black;
    font-size: 20px;
    text-align: center;
}

.middleContainer-login button,
.bottomContainer-login button {
    border-radius: 8px;
    box-shadow: 0 4px black;
    font-family: "Irish Grover", serif;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 20px;
    max-width: 300px;
}

.bottomContainer-login {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}


@media (max-width: 360px) {
    .mainContainer-login {
        padding: 10px;
        max-width: 100%;
        min-width: auto;
        min-height: auto;
    }

    .topContainer-login h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .middleContainer-login {
        gap: 20px;
        margin-bottom: 50px;
    }

    .middleContainer-login input {
        max-width: 100%;
        height: 40px;
        font-size: 20px;
    }

    .middleContainer-login input::placeholder {
        font-size: 16px;
    }

    .middleContainer-login button,
    .bottomContainer-login button {
        max-width: 100%;
        font-size: 20px;
        padding: 8px 16px;
    }

    .bottomContainer-login {
        gap: 1.5rem;
    }
}


